<!DOCTYPE html>
<html>
  <head>
    <title>Etchy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag image_url('e-icon.png') %>
    <meta property="og:title" content="Project Title" />
    <meta property='og:image' content="<%= image_url('etchy-feature.png') %>"/>
    <meta property="og:description"
      content=" Etchy is an online shopping website that users can checkout new and creative items for sale."
    />
    <meta property="og:url"
      content="http://etchy-etsy.herokuapp.com/"
    />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
